*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
}
body{
    background-image: url(img/backgrev.jpg);
}
a{
    text-decoration:none;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "contentg contentg contentg contentg"
    "footer footer footer footer";
}

.header{
    grid-area: header;
    display: flex;
    background-color: #E4A0F7;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header p.title{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    margin-left: 10px;
    font-size: 32px;
    font-weight: 600;
}
.header p.title::selection{
    color: red;
}
.header > ul{
    display: inline-flex;
    
}
.header > ul > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
} 
.header > ul > a > li{
    list-style: none;
    border: 3px solid #af6dc0;
    text-align: center;
    padding: 25px;
    width: 100px;
    transition: all 0.2s ease-in;
}
.header > ul > a > li:hover{
    border: 3px solid black;
    padding: 30px;
    color: white;
    background-color: #d850fd;
}
.ico-search{
    margin-right: -2px;
}
input[type="text"], input[type="email"]{
    border: 2px solid #121212;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
}
input[type="text"]:focus{
    border: 2px solid #121212;
    background-color: #f2f2f2;
    height: 20px;
    color: #141414;
    
}
.search{
    margin-right: 50px;
    color: #121212;
}
.search > p{
    margin-left: 5px;
    font-size: 15px;
}
.grnd{
    color:#141414;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 2;
}
.main-grid{
    grid-area: contentg;
    height: 70vh;
    margin-top: 5px;
    background-color: #f2f2f2;
    background-image: url(img/backg.jpg);
    background-repeat: no-repeat;
   
}
.main-grid > .bttns{
    display: none;
}
.info h1{
    color:#141414;
    margin-top: 50px;
    text-align: center;
}
.info-card{
    float: left;
    margin-top: 8%;
    margin-left: 30%;
    width: 40%;
    height: 32%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-in-out;
    border-bottom: 0px solid black;
}
.info-card p{
    color: #141414;
    font-weight: 600;
    margin: 10px;
    line-height: 3;
    text-align: justify;
}
.info-card:hover{
    border-bottom: 5px solid black;
}

.catal-card{
    display: flex;
    flex-flow: row wrap;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    justify-content: center;
    align-items: center;
}
.frame{
    cursor: pointer;
    height: 40%;
    width: 30%;
    border-radius: 10%;
    border: 2px solid black;
    margin-left: 35%;
    margin-top: 10px;
    margin-bottom: 2%;
  }
.description{
    display: none;
    background-color: #141414;
    border: 30px solid #006d77;
    color: aliceblue;
    text-align: center;
    line-height: 2;
    font-size: 1em;
    transition: all 0.5s ease-out;
    min-height: 45%;
}
.description::first-line{
    color: #B4CBD9;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4;
}
.txt-center{
    text-align: center;
}
.txtinfo{
    color: black;
    margin-top: 5rem;
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
}
.card{
    flex: 1 1 auto;
    overflow-y: auto;
    height: 98%;
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #FBE4BF;
    box-shadow: 5px 5px 10px #141414;
    overflow: hidden scroll;
}
.card:hover .description{
    display: block;
    height: auto;
}
.card:hover .txtinfo{
    display: none;
    height: auto;
}

.frm{
    margin-left: 24.5%;
    display: flex;
    flex-flow: row wrap;
    height: 60%;
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
}
.frm > form >p.frm-info{
    color:#141414;
    font-size: 28px;
    font-weight: 600;
    line-height: 2;
}
.frm textarea{
    resize: none;
    width: 400px;
    padding: 5px;
}

.frm :required{
    background-color: rgba(255, 0, 0, 0.5)
}
.frm-elm{
    flex-grow: 1;
    border-radius: 5%;
    
}
.btn-volver{
    text-align: center;
    margin-left: 44.6%;
}
.btns{
    cursor: pointer;
    color:#ffffff;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60px;
    height: 40px;
    
}

.titulo{
    color: #141414;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer-grid{
    display: flex;
    grid-area: footer;
    height: 10vh;
    width: 99.4vw;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}
.footer-grid p{
    text-align: center;
}

.block{
    display: none;  
}
.frm-perso{
    height: 90%;
    width: 70%;
    margin-left: 14%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.flores{
    float: left;
    margin-right: 10px;
}
input[type=radio].flores{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

}
input[type=radio].flores + img {
    cursor: pointer;
    margin-left: 1%;
}
input[type=radio].flores:checked + img {
    outline: 5px solid #121212;
}
h2.flwr-dscrpt{
    text-align: center;
    color: #6c36c4;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3;
}
p.flwr-dscrpt{
    color:#141414;
    width: 70%;
    padding: 3%;
    margin-left: 14%;
    margin-bottom: 2%;
    text-align: left;
    line-height: 2;
    font-size: 1.5em;
    background-color: white;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    min-height: 25vh;
    max-height: 20vh;
    overflow-y: auto;
}

@media print{
    .block{
        display: block;
        display: flex;
        

        font-size: 15px;
        font-weight: 500;
    }
    
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  and (min-device-height: 350px){
    .ndisplay{
        display: none;
    }
    .grid-container{
        width: 100vw;
    }
    .header > ul{
        display: none;    
    }
    .header{
        grid-area: header;
        display: flex;
        background-color: #E4A0F7;
        height: 110px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .search{
        display: none;
    }
    .main-grid{
        height: 45vh;
        width: 100%;
        margin: -5px 0 5px 0px;
        background-color: #f2f2f2;
        background-image: url(img/backg.jpg);
        background-repeat: no-repeat;
    }
    .info{
        display: none;
    }
    .main-grid  .bttns{
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        align-items: center;
    }
    .bttns ul{
        list-style:url(img/icons/flower.png);
    }
    .bttns  a {
        text-decoration: none;
        color: #121212;
    }

    .bttns li{
        flex-grow: 1;
        margin-top: 6vmin;
        font-weight: bolder;
        font-size: 2.5vmax;
    }
    .bttns li:active{
        background-color: white;
    }
    .footer-grid{
        margin-top: -10px;
        width: 100vw;
    }
    .card{
        flex-basis: 100%;
        height: 100%;
        width: 100%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10px;
        margin-bottom: 50px;
        background-color: #FBE4BF;
        box-shadow: 5px 5px 10px #141414;
        overflow: hidden;
    }
    .info-card{
        display: none;
    }

    .description{
        display: block;
        border: 5px solid #006d77;
        height: auto;
    }
    .description::first-line{
        font-size: 1rem;
        line-height: 2;
    }
    .txtinfo{
        display: none;
        height: auto;
    }
    .frame{
        height: 40%;
        width: 50%;
        margin-left: 27%;
        margin-top: 10px;
        margin-bottom: 2%;
      }
    .frm{
        margin-left: 0;
        width: auto;
        overflow: auto;
    }  
    .inv{
        margin-top: 10px;
        height: 50px;
        width: 10px;
    }
    .flores img{
        width: 30%;
        height: 30%;
        margin-top: 10px;
    }
}